---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Variables

// Colors
$blue:        #005293;
$darkBlue:    #324351;
$brightBlue:  #1687E0;

$gold:        #EDAA0B;
$darkGold:    #D68101;

$white:       #ffffff;
$grey:        #848E97;
$dark-grey:   #333;

// Fonts
$base-font-family: 'Source Sans Pro', sans-serif; // Google
$base-font-size:   16px;
$base-font-weight: 400;
$base-line-height: 1.5;

$headline-font-family: "bebas-neue",sans-serif; // Typekit

$small-font-size:  $base-font-size * 0.875;

$regular:          400;
$bold:             700;

$spacing-unit:     30px;
$max-width:        1440px;
$nav-height:       160px;

// Breakpoints
$breakpoint-mobile:        480px;
$breakpoint-tablet:        768px;
$breakpoint-desktop:       1040px;


// Use media queries like this:
// @include media-query($breakpoint-tablet) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials
@import "base";
@import "footer";
@import "grid";
@import "header";
@import "home";
@import "icomoon";
@import "page";
@import "form";
@import "nav";
