---
layout: default
---

<header class="bg-dark-blue">
  <div class="hero">
    <div class="residential-hero"></div>
    <div class="commercial-hero"></div>
  </div>
  <div class="group">
    <div class="span1-2">
      <hgroup class="hero-title-group">
        <h1>Residential</h1>
        <br />
        <a href="{{ '/residential' | prepend: site.baseurl }}" class="button">
          Learn More
        </a>
      </hgroup>
    </div>
    <div class="span1-2">
      <hgroup class="hero-title-group">
        <h1>Commercial</h1>
        <br />
        <a href="{{ '/commercial' | prepend: site.baseurl }}" class="button">
          Learn More
        </a>
      </hgroup>
    </div>
  </div>
</header>

<section class="bg-dark-blue">
  {% include services_overview.html %}
</section>

<section class="home-about-section">
  <div class="group">
    <div class="span1-2">
      <hgroup>
        <h1 class="bright-blue-color underline">Celebrating 100 years!</h1>
      </hgroup>
      <p>
        In 1916, Linek Brothers Plumbing Company was founded by Frank and Henry
        Linek specializing in performing repair service and remodeling. For the
        100 years following, Linek Plumbing has provided quality plumbing services
        for both commercial and residential projects across the St. Louis area.
      </p>
      <a class="button" href="/history">Read More</a>
    </div>
    <div class="span1-2">
      <img src="/images/history/family-then.jpg" class="family-then" alt="Linek Plumbing 1916" />
      <img src="/images/history/family-now.jpg" class="family-now" alt="Linek Plumbing 2016" />
    </div>
  </div>
</section>

<section class="home-choice-section">
  {% include why_choose_us.html %}
</section>

<section class="home-contact-section">
  <div class="group">
    <div class="span1-2">
      <hgroup>
        <h1 class="bright-blue-color">Contact</h1>
      </hgroup>

      <h2>{{ site.phone }}</h2>
      <address>{{ site.address }}</address>

      <p>Office Hours are between 7:30am and 4:30pm Monday through Friday.</p>
      <p>Outside of those hours, we offer an emergency answering service with plumbers on call 24/7 (at the same phone number).</p>

      <img src="/images/home/building-front.jpg" alt="Linek Plumbing HQ" />
    </div>
    <div class="span1-2">
      {% include contact_form.html %}
    </div>
  </div>
</section>
