<form class="contact-form" id="contactform" method="POST">
  <h2>Get in Touch</h2>
  <input type="hidden" name="_subject" value="Website Form Submission" />
  <div class="field">
    <label for="contact-name">Name</label>
    <input type="text" id="contact-name" name="name" />
  </div>
  <div class="field">
    <label for="contact-phone">Phone</label>
    <input type="tel" id="contact-phone" name="phone" />
  </div>
  <div class="field">
    <label for="contact-email">Email</label>
    <input type="email" id="contact-email" name="email" />
  </div>
  <div class="field radio-buttons">
    <label>Type of Request</label>
    <input type="radio" name="service-type" value="residential" />Residential
    <input type="radio" name="service-type" value="commercial" />Commercial
  </div>
  <input type="text" name="_gotcha" style="display:none" />
  <div class="field">
    <label for="contact-message">Message</label>
    <textarea id="contact-message" name="message"></textarea>
  </div>
  <input type="hidden" name="_next" value="/thanks.html" />
  <input class="button" type="submit" value="Submit" />
</form>

<script>
    var contactform =  document.getElementById('contactform');
    contactform.setAttribute('action', 'https://formspree.io/' + 'contact' + '@' + 'linekplumbing' + '.' + 'com');
</script>
