
<!-- Site Footer -->

<footer id="site-footer">
  <div class="group">
    <div id="payment-methods" class="span1-3">
      <p class="small">We accept cash, check, and all major credit cards.</p>
      <div class="credit-cards">
        <i class="icon-cc-mastercard"></i>
        <i class="icon-cc-visa"></i>
        <i class="icon-cc-discover"></i>
        <i class="icon-cc-amex"></i>
      </div>
    </div>
    <div id="license-wrap" class="span1-3">
      <div class="licensing">
        <img src="images/licensed.png" class="license-seal">
        <img src="images/bbb.png" class="bbb">
      </div>
    </div>
    <div id="footer-phone" class="span1-3">
      <div class="desktoptel">
        {{ site.phone }}
      </div>
      <div class="mobiletel">
        <a href="tel:+{{ site.phone }}">{{ site.phone }}</a>
      </div>
    </div>
  </div>
  <div class="group sub-footer">
    <div class="span1-1">
      <p class="copyright">
        &copy;
        <script type="text/javascript">
          document.write(new Date().getFullYear());
        </script>
        Linek Plumbing Company
      </p>
    </div>
  </div>
</footer>
