<header class="site-header">
  <div class="section">
    <nav class="group main-nav">
      <div class="span1-3 main-nav-left">
        <div class="main-nav-cornerstone">
          <img src="/images/100-seal.png"
            alt="100 years of service"
            class="service-seal"
            title="Linek Plumbing is celebrating 100 years of service" />
        </div>
        <div class="main-nav-side main-nav-left">
          {% include nav_item.html title='Services' url='services' %}
          {% include nav_item.html title='History' url='history' %}
        </div>
      </div>
      <div class="span1-3 main-nav-center">
        <a href="{{ site.baseurl }}/" class="main-nav-logo">
          <img src="/images/logo.svg" alt="Linek Plumbing Logo" title="Linek Plumbing" />
        </a>
      </div>
      <div class="span1-3 main-nav-right">
        <div class="main-nav-cornerstone">
          <a class="main-nav-phone" href="tel:+{{ site.phone }}">{{ site.phone }}</a>
        </div>
        <div class="main-nav-side main-nav-right">
          {% include nav_item.html title='About' url='about' %}
          {% include nav_item.html title='Contact' url='contact' %}
        </div>
      </div>
    </nav>
  </div>
</header>
