<div class="services-wrapper">
  <hgroup>
    <h1>Services</h1>
    <h2>For all jobs, big and small, you can count on Linek Plumbing to provide high quality work at a fair price.</h2>
  </hgroup>

  <div class="group">
    <div class="span1-3">
      <img src="/images/repairs.png" alt="Repairs" title="Repairs" />
      Repairs
    </div>
    <div class="span1-3">
      <img src="/images/remodeling.png" alt="Remodeling" title="Remodeling" />
      Remodeling
    </div>
    <div class="span1-3">
      <img src="/images/water-heaters.png" alt="Water Heaters" title="Water Heaters" />
      Water Heaters
    </div>
    <div class="span1-3">
      <img src="/images/water-service-repairs.png" alt="Water Service Repairs" title="Water Service Repairs" />
      Water Service Repairs
    </div>
    <div class="span1-3">
      <img src="/images/backflow-preveters.png" alt="Backflow Preventers" title="Backflow Preventers" />
      Backflow Preventers
    </div>
    <div class="span1-3">
      <img src="/images/sewer-drain-cleaning-repairs.png" alt="Sewer Drain Cleaning Repairs" title="Sewer Drain Cleaning Repairs" />
      Sewer &amp; Drain Cleaning &amp; Repairs
    </div>
  </div>

  <div class="services-footer">
    <a href="{{ site.pages.services | prepend: site.baseurl }}">See More</a>
  </div>
</div>
