
<div class="group">
  <div class="span1-2">
    <img src="/images/map.png" class="map"/>
  </div>
  <div class="span1-2">
    <h1>Service Areas</h1>
    <p>Centrally located in beautiful Webster Groves, Linek Plumbing provides service to St. Louis City, St. Louis County, St. Charles County, Jefferson County, and more</p>
    <div class="service-area-list">
      <ul>
        <li>Affton</li>
        <li>Ballwin</li>
        <li>Brentwood</li>
        <li>Chesterfield</li>
        <li>Clarkson Valley</li>
        <li>Clayton</li>
        <li>Crestwood</li>
        <li>Creve Coeur</li>
        <li>Des Peres</li>
        <li>Ellisville</li>
        <li>Eureka</li>
        <li>Fenton</li>
        <li>Ferguson</li>
        <li>Florissant</li>
      </ul>
    </div>
    <div class="service-area-list">
      <ul>
        <li>Frontenac</li>
        <li>Glendale</li>
        <li>Grantwood Village</li>
        <li>Hazelwood</li>
        <li>Huntleigh</li>
        <li>Kirkwood</li>
        <li>Ladue</li>
        <li>Manchester</li>
        <li>Maplewood</li>
        <li>Maryland Heights</li>
        <li>Normandy</li>
        <li>Northwoods</li>
        <li>Oakland</li>
        <li>Olivette</li>
      </ul>
    </div>
    <div class="service-area-list">
      <ul>
        <li>Overland</li>
        <li>Richmond Heights</li>
        <li>Rock Hill</li>
        <li>Saint Ann</li>
        <li>Saint John</li>
        <li>Shrewsbury</li>
        <li>Sunset Hills</li>
        <li>Town &amp; Country</li>
        <li>University City</li>
        <li>Valley Park</li>
        <li>Warson Woods</li>
        <li>Webster Groves</li>
        <li>Wildwood</li>
      </ul>
    </div>
  </div>
</div>
