<div class="choose-us-wrapper bg-dark-blue">
  <hgroup>
    <h1>Why Choose Us?</h1>
  </hgroup>

  <ul class="group">
    <li class="span1-3">
      <div class="choose-us-bubble">
        <h3>Quality Workmanship</h3>
      </div>
    </li>
    <li class="span1-3">
      <div class="choose-us-bubble">
        <h3>Satisfied Customers</h3>
      </div>
    </li>
    <li class="span1-3">
      <div class="choose-us-bubble">
        <h3>Friendly<br/>Service</h3>
      </div>
    </li>
  </ul>

  <footer class="choose-us-footer group">
    <i class="icon-camera"></i>
    <div class="detail-text">
      <h3>The Details Make The Difference</h3>
      <p>
        If you need a repair, we’ll often have you send us a picture of the issue so that we can try to match the parts we’ll need. Just one of the many ways that we make sure the job gets done right the first time.
      </p>
    </div>
  </footer>
</div>
