/* Site Footer */

#site-footer {
  background: $darkBlue;
  color: $white;
  padding: 2em 0 0;
}

.payment-methods {
  .credit-cards i {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 5px;
  }
}

.licensing {
  margin: 0 auto;
  width: 200px;
  img {
    display: inline-block;
    margin: 0 10px;
  }
  .license-seal {
    max-width: 100px;
  }
  .bbb {
    max-width: 50px;
  }
}

.footer-phone {
  width: 100%;
  text-align: right;
  margin-right: 0!important;
  .desktoptel {
    color: $gold;
    font-size: 2em;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 1em;
    @include media-query($breakpoint-tablet) {
      font-size: 1.75em;
    }
  }
}

.desktoptel { display: block; }
.mobiletel { display: none; }

@include media-query($breakpoint-mobile) {
    .desktoptel { display: none; }
    .mobiletel { display: block; }
}


.sub-footer {
  font-size: .75em;
  p { margin-top: 2em; }
}

.copyright {
  width: 100%;
  text-align: right;
}
