// Home

// Hero banner -------------------------------------

.hero {
  margin: 0 auto;
	max-width: 100%;
	width: 100%;
	@extend %clearfix;
}

.residential-hero,
.commercial-hero {
  width: 50%;
  margin: 0;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  @include media-query($breakpoint-mobile) {
    width: 100%;
  }
}

.residential-hero {
  background-image: url('/images/home/resi-blue.jpg');
  border-right: 2px solid $white;
  @include media-query($breakpoint-mobile) {
    border-right: none;
    border-bottom: 4px solid $white;
  }
}

.commercial-hero {
  background-image: url('/images/home/comm-blue.jpg');
  border-left: 2px solid $white;
  @include media-query($breakpoint-mobile) {
    border-left: none;
  }
}

.hero-title-group {
  padding: 8em 6em;
  height: 500px;
  position: relative;
  z-index: 1;
  text-align: left;
  @include media-query($breakpoint-tablet) {
    padding: 6em 3em;
    height: 400px;
  }
  h1 {
    border-bottom: 2px solid $white;
    color: $white;
    display: inline-block;
    font-size: 4em;
    letter-spacing: 1px;
    line-height: 1em;
    margin-bottom: 1em;
    padding-bottom: 4px;
    @include media-query($breakpoint-tablet) {
      font-size: 3.5em;
    }
  }
}

// Services -------------------------------------
.services-bg {
  position: relative;
  height: 650px;
  @include media-query($breakpoint-tablet) { height: 550px; }
  @include media-query($breakpoint-mobile) { height: 725px; }
  @media screen and (min-width: 440px) and (max-width: 600px) {
    height: 800px;
  }
}
.services-wrapper {
  @include box-shadow(0px, 3px, 10px, $darkGrey);
  background: $white;
  height: 750px;
  left: 12.5%;
  margin: 0 auto;
  max-width: $max-width;
  padding-top: 2em;
  position: absolute;
  top: -50px;
  width: 75%;
  z-index: 1;
  @include media-query($breakpoint-tablet) {
    height: 650px;
    width: 80%;
    left: 10%;
  }
  @include media-query($breakpoint-mobile) {
    height: 825px;
    width: 90%;
    left: 5%;
  }
  @media screen and (min-width: 440px) and (max-width: 600px) {
    height: 900px;
  }
  .heading {
    margin-bottom: 2em;
    text-align: center;
    h1 {
      font-weight: normal;
    }
  }
}

.service-cell {
  margin: 0;
  padding: 2%;
  position: relative;
  text-align: center;
  width: 33%;
  float: left;
  h3 { line-height: 1.25em;}
  &:not(:first-child):before {
    border-left: 1px solid $grey;
    bottom: 10%;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    top: 10%;
  }

  &.with-divider:after {
    border-bottom: 1px solid $grey;
    bottom: 0;
    content: '';
    left: 10%;
    position: absolute;
    right: 10%;
  }

  img {
    width: 200px;
  }
  &:nth-child(4) {
    &:before { border-left: none; }
    &:after { border-bottom: none; }
  }
  @include media-query($breakpoint-mobile) {
    width: 50%;
    height: 185px;
    &:nth-child(3),
    &:nth-child(5) {
      &:before { border-left: none; }
    }
    &:nth-child(4) {
      &:before { border-left: 1px solid $grey; }
      &:after { border-bottom: 1px solid $grey; }
    }
  }
  @media screen and (min-width: 440px) and (max-width: 600px) {
    height: 225px;
  }
}

// About -------------------------------------
.home-about-section {
  margin-top: 9em;
  height: 1000px;
  @include media-query($breakpoint-tablet) {
    height: 850px;
  }
  @include media-query($breakpoint-tablet) {
    height: 950px;
  }
  .span1-2 {
    @include media-query($breakpoint-tablet) {
      width: 100%;
    }
  }
  .bright-blue-color {
    max-width: 24ch;
    letter-spacing: 1px;
    @include media-query($breakpoint-mobile) {
      font-size: 2em;
      max-width: 25ch;
    }
  }
  .gold-100 {
    color: $gold;
    font-size: 2em;
    font-weight: bold;
  }
  p {
    font-size: 1.1em;
    line-height: 1.75em;
    margin-bottom: 2em;
    max-width: 80ch;
    @include media-query($breakpoint-mobile) {
      font-size: 1em;
    }
  }

  .group {
    position: relative;
  }

  .span1-2,
  .larger-pic {
    position: relative;
  }

  .family-then,
  .family-now {
    position: absolute;
    @include box-shadow(0px, 3px, 10px, $darkGrey);
  }

  .family-then {
    @include transform(rotate(2deg));
    z-index: 1;
    top: 0px;
    right: 0;
    max-width: 450px;
    @include media-query($breakpoint-tablet) {
      right: 20px;
      max-width: 300px;
    }
    @include media-query($breakpoint-mobile) {
      top: 50px;
      max-width: 75%;
      right: 20px;
    }
  }

  .family-now {
    @include transform(rotate(7deg));
    left: 30%;
    top: 75px;
    border: 30px solid $white;
    max-width: 600px;
    @include media-query($breakpoint-tablet) {
      left: 40px;
      top: 120px;
      max-width: 400px;
      border: 20px solid $white;
      @include transform(rotate(-7deg));
    }
    @include media-query($breakpoint-mobile) {
      max-width: 80%;
      top: 300px;
    }
  }
}

// Choose Us -------------------------------------
.choose-us-wrapper {
  color: $white;
  padding-bottom: 2em;
  padding-top: 8em;
  position: relative;
  @include media-query($breakpoint-mobile) {
    padding-top: 5em;
  }

  h1 {
    @include transform(translateX(-50%));
    background: $brightBlue;
    color: $white;
    font-size: 4em;
    left: 50%;
    line-height: 1;
    min-width: 300px;
    padding: 20px 40px;
    position: absolute;
    text-align: center;
    top: -.75em;

    @include media-query($breakpoint-tablet) {
      padding: 20px 20px;
    }
    @include media-query($breakpoint-mobile) {
      font-size: 3em;
    }
  }
  ul { list-style: none; }
  li { text-align: center; }
}

.choose-us-bubble {
  border-radius: 50%;
  border: 4px solid $gold;
  height: 280px;
  text-align: center;
  width: 280px;
  position: relative;
  display: inline-block;
  @include media-query($breakpoint-tablet) {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }
  h3 {
    background: $blue;
    color: $white;
    font-size: 2em;
    left: 50%;
    letter-spacing: 2px;
    padding: 1em;
    position: absolute;
    top: 50%;
  @include transform(translate(-50%, -50%));
    width: 140%;
    @include media-query($breakpoint-tablet) {
      font-size: 1.5em;
      padding: .5em;
    }
  }
}

.choose-us-footer {
  color: $white;
  font-size: .8em;
  padding-top: 4em;
  text-align: left;
  max-width: 100ch;
  margin: 0 auto;
  i {
    font-size: 4em;
    float: left;
    margin: 0 .5em 5px 0;
  }
  .detail-text {
    float: left;
    max-width: 80ch;
    h3 {
      font-size: 1.2em;
      letter-spacing: 1px;
      @include media-query($breakpoint-mobile) {
        margin-bottom: 5px;
      }
    }
    p {
      font-size: 1.2em;
      display: inline-block;
      @include media-query($breakpoint-mobile) {
        font-size: 1em;
      }
    }
  }
}

// Contact -------------------------------------
.home-contact-section {
  margin: 7em 0 5em;
  @include media-query($breakpoint-mobile) {
    margin: 5em 0 3em;
  }
  h1 {
    line-height: 1em;
  }
  h2 {
    font-family: $base-font-family;
    margin-bottom: 0;
    letter-spacing: 1px;
  }
  address {
    font-style: normal;
    font-size: 1.25em;
    margin: 1em 0;
  }
  .street-view {
    width: 75%;
    border: 20px solid white;
    @include box-shadow(0px, 3px, 10px, $grey);
  }
  .contact-form {
    @include border-radius(5px);
    @include box-shadow(0px, 3px, 10px, $grey);
    background: $lightGrey;
    margin: 2em 0;
    padding: 2em 3em;
    @include media-query($breakpoint-tablet) {
      padding: 2em 1em;
    }
  }
}
