
// main nav
.main-nav-items {
  list-style: none;
  padding: .75em 0;
  margin: 0;
  height: 60px;
  li {
    margin: 0 1%;
    float: left;
    text-align: center;
    width: 15.5%;
    &:nth-of-type(3) { margin-left: 31%; }
    a {
      border-bottom: 2px solid transparent;
      color: $darkGrey;
      font-size: 1.2em;
      font-weight: bold;
      padding: 5px 0;
      text-decoration: none;
      text-transform: uppercase;
      &:hover {
        border-bottom: 2px solid $gold;
      }
    }
  }
}

.main-nav-logo {
  @include transition(all, 250ms, linear);
  bottom: -50px;
  display: block;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 28%;
  img {
    width: 100%;
  }
}

// tablet and mobile nav
@media screen and (max-width: 900px) {
  .main-nav-logo {
    left: 0;
    bottom: -20px;
    transform: none;
  }
  .main-nav-items {
    width: 70%;
    float: right;
  }
  .main-nav-items li {
    width: auto;
    margin: 0 0 0 3%;
    &:nth-of-type(3) { margin-left: 3%; }
  }
}
