// Pages

// Header (50/50) -------------------------------------
.page-header {
  background: darken($blue, 10%);
  color: $white;
  height: auto;
  margin: 0 auto;
  width: 100%;
  @extend %clearfix;

  .span1-2 {
    width: 50%;
    margin: 0;

    @include media-query($breakpoint-mobile) {
      width: 100%;
    }
  }

  .left-header {
    padding: 2em 8%;
  }
  h1 { color: $white; }
  .right-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 425px;
    @include media-query($breakpoint-tablet) {
      height: 500px;
    }
  }
}

#sink-img {
  background-image: url('/images/residential/sink.jpg');
}
#plans-img {
  background-image: url('/images/commercial/plans.jpg');
}
#about-img {
  background-image: url('/images/history/family-now.jpg');
  background-position: top left;
}

// Overlay Stripe -------------------------------------
.stripe-bg {
  background: $blue;
  position: relative;
  height: 600px;

  @include media-query($breakpoint-mobile) {
    height: auto !important;
  }
}

.overlay-wrapper {
  @include box-shadow(0px, 3px, 10px, $darkGrey);
  background: $white;
  height: auto;
  left: 50%;
  margin: 0 auto;
  max-width: $max-width;
  padding-top: 2em;
  position: absolute;
  top: -25px;
  width: 75%;
  z-index: 1;
  transform: translateX(-50%);

  @include media-query($breakpoint-tablet) {
    width: 95%;
  }

  @include media-query($breakpoint-mobile) {
    width: 100%;
    height: auto !important;
    position: static;
    transform: none;
  }

  hgroup {
    margin-bottom: 2em;
    text-align: center;
    h1 {
      font-weight: normal;
    }
  }
}
#resi-stripe { height: 725px; }
#resi-overlay { height: 775px; }
#comm-stripe { height: 575px;}
#comm-overlay { height: 625px; }
#about-stripe { height: 900px; }
#about-overlay { height: 950px; }

.aff-logo {
  max-width: 400px;
  width: 90%;
}

// Column Section -------------------------------------
.column-section {
  margin: 6em 0 4em;
  h1, p { text-align: center;}
  .brand {
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
  }
}

.industry-list {
  ul { list-style: none; }
  li {
    padding: 2em 0;
    i {
      font-size: 1.5em;
      margin-right: 1em;
    }
  }
}

.history-section {
  margin: 6em 0 4em;
}

// Service Areas -------------------------------------
.service-areas {
  margin-bottom: 4em;
  .map {
    padding: 2em 0;
  }
}
