// Pages

// Header (50/50) -------------------------------------
.page-header {
  background: darken($blue, 10%);
  color: $white;
  height: auto;
  margin: 0 auto;
  width: 100%;
  @extend %clearfix;

  .span1-2 {
    width: 50%;
    margin: 0;

    @include media-query($breakpoint-mobile) {
      width: 100%;
    }
  }

  .left-header {
    padding: 2em 8%;
  }
  h1 { color: $white; }
  .right-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 425px;
    @include media-query($breakpoint-tablet) {
      height: 500px;
    }
  }
}
.about-list {
  margin-left: 20px;
}

#sink-img {
  background-image: url('/images/residential/sink.jpg');
}
#plans-img {
  background-image: url('/images/commercial/plans.jpg');
}
#about-img {
  background-image: url('/images/history/van.jpg');
  background-position: top left;
}

// Overlay Stripe -------------------------------------
.stripe-bg {
  background: $blue;
  position: relative;
  height: 600px;

  @include media-query($breakpoint-mobile) {
    height: auto !important;
  }
}

.overlay-wrapper {
  @include box-shadow(0px, 3px, 10px, $darkGrey);
  background: $white;
  height: auto;
  left: 12.5%;
  margin: 0 auto;
  max-width: $max-width;
  padding-top: 2em;
  position: absolute;
  top: -25px;
  width: 75%;
  z-index: 1;

  @include media-query($breakpoint-tablet) {
    width: 95%;
    left: 2.5%;
  }

  @include media-query($breakpoint-mobile) {
    @include box-shadow(0px, 3px, 10px, $white);
    width: 100%;
    height: auto !important;
    position: static;
  }

  .heading {
    margin-bottom: 2em;
    text-align: center;
    h1 {
      font-weight: normal;
    }
  }
}
#resi-stripe { height: 725px;
  @media screen and (min-width: $breakpoint-mobile) and (max-width: 920px) {
    height: 775px;
  }
}
#resi-overlay { height: 775px;
  @media screen and (min-width: $breakpoint-mobile) and (max-width: 920px) {
    height: 825px;
  }
}
#comm-stripe { height: 575px;
  @include media-query($breakpoint-tablet) {
    height: 625px;
  }
}
#comm-overlay {
  height: 625px;
  @include media-query($breakpoint-tablet) {
    height: 675px;
  }
}
#about-stripe {
  height: 850px;
  @media screen and (min-width: 1200px) {
    height: 925px;
  }
}
#about-overlay {
  height: 900px;
  @media screen and (min-width: 1200px) {
    height: 975px;
  }
}

#about-overlay {
  h2 {
    margin: 1em auto 0.5em;
    @include media-query($breakpoint-mobile) {
      text-align: left;
      margin-left: 6%;
    }
  }
  h4 {
    font-size: 1.25em;
    margin-bottom: .25em;
  }
}
.aff-logos {
  margin-bottom: 2em;
  .span1-2,
  .span1-3 {
    @include media-query($breakpoint-mobile) {
      width: 46%;
    }
  }
}
.aff-logo {
  max-width: 350px;
  width: 90%;
  text-align: center;
  &.pp-local { margin-top: 3.5em; }
  @include media-query($breakpoint-mobile) {
    max-width: 200px;
    &.pp-local { margin-top: 2em; }
  }
}

// Column Section -------------------------------------
.column-section {
  margin: 6em 0 4em;
  h1, p { text-align: center;}
  .brand {
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    width: 28.66%;
    margin: 0 2%;
    float: left;
    @include media-query($breakpoint-mobile) {
      width: 46%;
    }
    img {
      max-width: 100%;
      @include media-query($breakpoint-mobile) {
        max-width: 100px;
      }
    }
  }
}

.industry-list {
  width: 21%;
  margin: 0 2%;
  float: left;
  ul { margin-bottom: 0; }
  @include media-query($breakpoint-desktop) { width: 46%; }
  @include media-query($breakpoint-mobile) {  width: 100%;  }
  ul { list-style: none; }
  li {
    padding: 2em 0;
    height: 80px;
    @include media-query($breakpoint-tablet) { height: 90px; }
    @include media-query($breakpoint-mobile) {
      padding: 1em 0;
      height: 4em;
    }
    i {
      font-size: 2em;
      margin-right: 1em;
    }
  }
}

.industry-icon {
  width: 21%;
  float: left;
  margin: 0 2%;
  text-align: center;
}
.industry-name {
  width: 71%;
  float: left;
  margin: 0 2%;
}

.history-section {
  margin: 6em 0 4em;
}

.historic-img {
  max-width: 400px;
  position: relative;
  float: right;
  margin-top: -30px;
  @include media-query($breakpoint-tablet) {
    max-width: 300px;
    margin-top: 15px;
  }
  @include media-query($breakpoint-mobile) {
    float: left;
    max-width: 150px;
    margin-right: 10px;
  }
  &:nth-child(1) {
    @include transform(rotate(-1deg));
    max-width: 350px;
    z-index: 2;
    float: left;
    display: none;
    @include media-query($breakpoint-tablet) {
      max-width: 300px;
      display: block;
    }
    @include media-query($breakpoint-mobile) {
      @include transform(rotate(0));
      max-width: 150px;
    }
  }
  &:nth-child(2) {
    @include transform(rotate(3deg));
    max-width: 350px;
    @include media-query($breakpoint-tablet) {
      max-width: 300px;
    }
    @include media-query($breakpoint-mobile) {
      @include transform(rotate(0));
      max-width: 160px;
    }
  }
  &:nth-child(3) {
    max-height: 400px;
    @include transform(rotate(-2deg));
    float: left;
    @media screen and (min-width: 1240px) {
      margin-left: 25%;
    }
    @include media-query($breakpoint-tablet) {
      max-height: 300px;
      margin-left: 50px;
    }
    @include media-query($breakpoint-mobile) {
      margin-left: 0;
      @include transform(rotate(0));
    }
  }
  &:nth-child(4) {
    @include transform(rotate(3deg));
    z-index: -1;
    @include media-query($breakpoint-mobile) {
      @include transform(rotate(0));
    }
  }
}

// Service Areas -------------------------------------
.service-areas {
  margin-bottom: 4em;
  .map {
    padding: 2em 0;
  }
}
.service-area-list {
  float: left;
  width: 28.66%;
  font-size: 1em;
  @include media-query($breakpoint-desktop) {
    font-size: .8em;
  }
  @include media-query($breakpoint-mobile) {
    display: none;
  }
}


// Privacy Page -------------------------------------
.privacy-page {
  margin: 5.5em 0 4em;
}
